<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>股票分析指标系统</title>
  <link rel="stylesheet" type="text/css" href="./css/style.css"/>

</head>

<body>

  <h1>股票量化分析系统</h1>

<main>

  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">一字涨停倒钩形态</label>

  <input id="tab2" type="radio" name="tabs">
  <label for="tab2">指标二</label>

  <input id="tab3" type="radio" name="tabs">
  <label for="tab3">指标三</label>

  <input id="tab4" type="radio" name="tabs">
  <label for="tab4">指标四</label>

  <section id="content1">
   <iframe src="harden_hook.html" ; width="1120" height="800" scrolling="yes" frameborder="0"></iframe>
  </section>

  <section id="content2">
    <p>
      哈哈哈哈
    </p>  
  </section>

  <section id="content3">
    <p>
      呵呵呵呵额呵呵
    </p>  
  </section>

  <section id="content4">
    <p>
     我们是共产主义接班人
    </p>
  </section>

</main>
</body>

<script src="./js/prefixfree.min.js"></script>
</html>